{
  Language: Cpp,
  BasedOnStyle: LLVM,

  AllowShortIfStatementsOnASingleLine: true,
  BreakBeforeBraces: Attach,
  ColumnLimit: 120,
  IndentCaseLabels: false,
  IndentWidth: 4,
  TabWidth: 4,
  UseTab: Never,
}
