[submodule "fw/components/littlefs"]
	path = fw/components/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "fw/components/mlib"]
	path = fw/components/mlib
	url = https://github.com/P-p-H-d/mlib.git
