fw/.settings
fw/_build
fw/.idea

fw/application/.idea
fw/bootloader/.idea

fw/src/amiibo_private.c
fw/src/version.inc.h
fw/src/version.json

fw/application/log.log


fw/log.log

fp-info-cache
pixl.js-backups

hw/RevB/pixl.js/gerber
hw/RevB/pixl.js/bom
hw/RevB/pixl.js/*.zip
hw/RevB/pixl.js/*.pdf
hw/RevB/pixl.js/*.kicad_prl
hw/RevB/pixl.js/*.plt

hw/RevA/pixl.js/gerber
hw/RevA/pixl.js/bom
hw/RevA/pixl.js/*.zip
hw/RevA/pixl.js/*.pdf
hw/RevA/pixl.js/*.kicad_prl

hw/RevC
hw/RevD
hw/SP.RevA
hw/PRO.RevA
hw/LIPO.RevA
3d

dist
# venv stuff
.venv
*.un~
